/* .texto {
    color: blue;
}

#oi-som {
    color: rgba(127, 255, 212, 0.2);
}

#identificador {
    color: orange;
} */
 /* @import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&display=swap');

#titulo {
    color: #830000;
    font-size: 40px;
    text-align: center;
}
#paragrafo {
    color: #4b5156;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-align: justify;
    line-height: 30px;
}

body{
    background-color: red;
}

* {
    font-family: "Bitcount Ink", system-ui;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
     font-family: "Inter", sans-serif;
     margin: 0;
     padding: 0;
}

#guia-eleitor {
    color: rgb(84, 84, 84);
    font-size: 16px;
    font-weight: 500;
}
#titulo {
    color: #A6130A;
    font-size: 36px;
}
#rodape {
    color: #606060;
    font-size: 12px;
}
#container {
    height: 35vh;
    width: 100vw;
    background-color: red;
} */

/* px */
/* viewport width
viewport heigth */
/* % */

#container {
    width: 20vw;
    height: 30vh;
}
#container input {
    width: 16vw;
    height: 4vh;
    margin-bottom: 2vh;
    border: 2px solid rgb(211, 209, 209);
    border-radius: 5px;
}
#container button{
    width: 16vw;
    height: 4vh;
    background-color: #A6130A;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}